*{
	font-family: "IBM Plex Sans Condensed", sans serif;
	box-sizing:border-box;
}
.container {
	width:1140px;
	margin: 0 auto;
}



.kodulogo, .kodulogo2 {
	width:250px;
	height:auto;
	float:left;
	display:inline-block;
	
	
}

.kodukiri {
	display:inline;
	float:right;
	font-size:48px;
	color:#474B55;
	
}
.tophead {
	width:1140px;
	height:150px;
	display:flex;
	justify-content: space-around;
}



.navbar{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
	margin-top:50px;
    margin:0;
   
    text-align:center;
	background-color:#474B55;
}
.navbar li{
    display:inline;
	color:white;
	font-weight:bold;
	padding-right:30px;
	padding-left:30px;
}
.navbar a{
    display:inline-block;
    padding:10px;
	color:white;
}
.toeta {
	background-color:#941503;
	padding-top:15px;
	padding-bottom:15px;
}


.sisu {
	margin-top:100px;
	margin-bottom:100px;
}

.kontaktid img {
	width:50px;
}

.kontaktid {
	list-style:none;
	display:inline-block;
}

.kontaktid h2 {
	color:#941503;
}
.asukoht h2 {
	color:#941503;
}

.asukoht {
	float:right;
	display:inline-block;
}
.kontaktid .asukoht {
	display:inline;
}
.ajad {
	list-style:none;
	font-weight:bold;
}

.fkontakt {
	list-style:none;
	width:100%;
	
}

.footer {
   position:fixed;
   bottom:0;
   width:100%;
   height:180px;   /* Height of the footer */
   background:#ffffff;
   display:flex;
   align-items: center;
   background-color:#474B55;
   color:white;
   
   
}

.kodulogo2 {
	   padding-top:62px;
   }
.kontaktid li img {
	padding-right:20px;
}   
.fkontakt li img{
	padding-right:20px;
	width:50px;
	padding-top:10px;
}   

footer {
	margin:0;
	
}
.loomad img {
	width:300px;
	height:auto;
}
.loomad {
    display: grid;
    grid-template-columns: 330px 330px 330px;
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: space-around;
    margin-top: 50px;
	padding-bottom: 200px;
}




.add-fields {
	width: 40%;
	height: 1100px;
	background-color: #F3F2F2;
	margin-left:40px;
	padding-top:30px;
	margin-bottom:200px;
}

.date, .owner-contact, .add-info, .add-img {
	display: flex;
	flex-direction: column;
	width: 80%;
	justify-content: space-around;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Krub', sans-serif;
	font-weight: normal;
}

.date label, .owner-contact label, .add-info label, .add-img label {
	font-size: 18px;
	margin-top: 60px;
	padding-bottom: 10px;
	color: #000;
	width: 100%;
	display: block;
}

.date input, .owner-contact input {
	line-height: 23px;
	height: 65px;
	border: solid 1px #5A5A5A;
}

.add-info input {
	line-height: 23px;
	height: 260px;
	border: solid 1px #5A5A5A;
}

.add-button-container {
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	display: flex;
	justify-content: flex-end;
}

.add-button {
	max-width: 30vw;
	min-width: 200px;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #5b7851;
	font-family: 'Krub', sans-serif;
	font-weight: normal;
	font-size: 24px;
	border: solid 1px #ffffff;
	filter: drop-shadow(0px 4px 4px #909090);
}

.add-button-container a{
	text-decoration: none;
	color: #fff;
}

.kadund {
	background-image: url("loojang.jpg");
	background-repeat:no-repeat;
	background-position: right top;
	background-attachment: fixed;
	opacity:0.8;
}

.add-fields label {
	font-weight: bold;
}


.profiil {
	display: grid;
    grid-template-columns: 500px 330px;
    grid-template-rows: auto;
    grid-gap: 250px;
	
}

.kirjeldus {
	margin-top:30px;
}

.kassifoto {
	margin:30px;
	padding-left:70px;
}

.kassifoto img {
	width:400px;
	height:auto;
}

.puntel {
	color: #941503;
}

.meisttekst {
	padding: 80px 400px;
}
.meisttekst h1 {
	color: #941503;
}

.konteiner {
  border: 1px solid #333;
  height: 250px;
  width: 250px;
margin-left:550px;
margin-top:50px;
}
.kirjeldus {
  display: table;
  height: 100%;
  width: 100%;
}
